*, *::before, *::after{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(150, 150, 150);
    padding-top: 5rem;
}

.main-container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.main-container>h3{
    margin: 10px 0;
    color: rgb(175, 175, 175);
}

.rps-container{
    width: 100%;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
}
.rps-container>button{
    background: none;
    border: none;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    text-align: center;
    cursor: pointer;
    font-size: 5rem;
    transition: 300ms;
}
.rps-container>button:hover{
    transform: scale(1.2);
}

.table-container{
    margin-top: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.table-container>.header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.table-container>.header>h5{
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    padding: 1rem ;
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
}

.table-container>.body{
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

.table-container>.body::-webkit-scrollbar {
    width: 6px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.table-container>.body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #dadada;
}

.table-container>.body>section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.table-container>.body>section>h3{
    font-size: 3rem;
    opacity: 0.5;
}
.win>#user{
    font-size: 4.5rem;
    opacity: 1;
}
.win>#result{
    color: rgb(25, 194, 25);
    opacity: 1;
}
.lose>#bot{
    font-size: 4.5rem;
    opacity: 1;
}
.lose>#result{
    color: rgb(194, 25, 25);
    opacity: 1;
}

.details-board{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 0 0 1rem;
}

.details-board>div{
    display: flex;
    align-items:flex-end;
    gap: 5px;
}
.details-board>div>#win{
    color: rgb(59, 199, 59);
}
.details-board>div>#loss{
    color: rgb(218, 57, 57);
}
.details-board>div>#totalMatch{
    color: rgb(172, 172, 172);
}